<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Description</th>
      <th scope="col">Download</th>
      <th scope="col">Project page</th>
    </tr>
    </thead>
    % for row in rows:
        ${makerow(row)}
    % endfor
</table>


<%def name="makebib(row)">
% if len(row["bibtex"])>0:
            <a href="javascript:void(0)" onclick="
           (function(target, id) {
                  if ($('#' + id).css('display') == 'block')
                {
                  $('#' + id).hide('fast');
                  $(target).text('bibtex&#x25BC;')
                }
                else
                {
                  $('#' + id).show('fast');
                  $(target).text('bibtex&#x25B2;')
                }
                }
           )(this, 'bibtex-${row["id"]}');">
              bibtex&#x25BC;
            </a>
           <div id="bibtex-${row['id']}" style="display:none">
            <pre>${row["bibtex"]}</pre>
            </div>
% endif
</%def>



<%def name="makerow(row)">
    <tr>
        <td>${row["description"]}
          <br />
          ${makebib(row)}
        </td> 
        <td>
          ${"<a href="+row["url"]+"><i class=\"fa fa-download\"></i></a>" if len(row["url"])>1 else ""}
        </td>
        <td>
          ${"<a href="+row["project_page"]+"><i class=\"fa fa-info-circle\"></i></a>" if len(row["project_page"])>1 else ""}
        </td>
    </tr>
</%def>
