## -*- coding: utf-8 -*-
<%namespace name="base" file="base_helper.tmpl" import="*" />
<%namespace name="notes" file="annotation_helper.tmpl" import="*" />
${set_locale(lang)}
${base.html_headstart()}
<%block name="extra_head">
### Leave this block alone.
</%block>
${template_hooks['extra_head']()}

<style>

* {
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

.simple {
    font-size: medium;
  }

.emph {
    font-weight: bold;
  }

div.twocol{
}

div.rightside {
    padding: 0px 3px 0px 0px;
    float: right;
}

div.leftside {
}

td {
    border: 1px #dddddd solid;
    padding: 5px;
}

th {
    border: 1px #dddddd solid; }

.rotate {
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  width: 1.5em;
}
.rotate div {
     -moz-transform: rotate(-90.0deg);  /* FF3.5+ */
       -o-transform: rotate(-90.0deg);  /* Opera 10.5 */
  -webkit-transform: rotate(-90.0deg);  /* Saf3.1+, Chrome */
             filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);  /* IE6,IE7 */
         -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; /* IE8 */
         margin-left: -10em;
         margin-right: -10em;
}

h2 {
    padding-top: 5%;
    padding-bottom: 20px;
}

h3, rubric {
    padding-top: 3% ;
    padding-bottom: 3% ;
}

table.docutils {
    font-size: smaller;
    }


</style

</head>
<body>
<a href="#content" class="sr-only sr-only-focusable">${messages("Skip to main content")}</a>

<!-- Menubar -->

<nav class="navbar navbar-expand-md navbar-dark bg-dark static-top mb-4">
    <div class="container"><!-- This keeps the margins nice -->
        <a class="navbar-brand" href="${abs_link(_link("root", None, lang))}">
        %if logo_url:
            <img src="${logo_url}" alt="${blog_title|h}" id="logo" class="d-inline-block align-top">
        %endif

        % if show_blog_title:
            <span id="blog-title">${blog_title|h}</span>
        % endif
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="bs-navbar">
            <ul class="navbar-nav mr-auto">
                ${base.html_navigation_links_entries(navigation_links)}
                ${template_hooks['menu']()}
            </ul>
            %if search_form:
                ${search_form}
            %endif

            <ul class="navbar-nav navbar-right">
                ${base.html_navigation_links_entries(navigation_alt_links)}
                <%block name="belowtitle">
                %if len(translations) > 1:
                    <li>${base.html_translations()}</li>
                %endif
                </%block>
                % if show_sourcelink:
                    <%block name="sourcelink"></%block>
                %endif
                ${template_hooks['menu_alt']()}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</nav>

<!-- End of Menubar -->

<div class="container" id="content" role="main">

<div class="container">
  <div class="row">
    <div class="col-2" style="margin-right: 8%">

<a class="btn btn-dark" role="button" style="margin-top:
      50px; margin-bottom: 15px;" href="https://my.pcloud.com/publink/show?code=XZBFz27Ze8jmNnVRw2z60FtGbR8tqjXcfoX7">Dataset (jSIM)
</a>
<a class="btn btn-dark" role="button" style="margin-top:
      15px; margin-bottom: 15px;" href="https://github.com/tmu-nlp/JapaneseWordSimilarityDataset">Dataset (the original)
</a>

      <a role="button" class="btn btn-dark" style="margin-top: 50px;
      margin-bottom: 15px;
      50px" href="http://aclweb.org/anthology/W18-2905">Paper (jSIM)</a><br/>

      <a role="button" class="btn btn-dark" style="margin-top: 15px;
      margin-bottom: 15px;
      50px" href="http://www.lrec-conf.org/proceedings/lrec2018/pdf/96.pdf">Paper (the original)</a><br/>

      <a role="button" class="btn btn-dark" style="margin-top: 50px;
      margin-bottom: 15px;
      50px" href="http://vecto.readthedocs.io/en/docs/tutorial/evaluating.html#correlation-with-human-similarity-relatedness-judgements">Test scripts</a>
      <!--a role="button" class="btn btn-dark" style="margin-top: 15px;
      margin-bottom: 15px" href="https://www.aclweb.org/anthology/N/N16/N16-2002.pdf">Dataset structure</a-->

  <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" style="margin-top: 15px;
      margin-bottom: 15px;">
    BibTex
  </button>
<div class="collapse" id="collapseExample">
  <div class="card card-body" style="font-size: x-small; word-wrap: break-spaces">
@inproceedings{KarpinskaLiEtAl_2018,<br/>
  author = {Karpinska, Marzena and Li, Bofang and Rogers, Anna and Drozd, Aleksandr},<br/>
  title = {Subcharacter {{Information}} in {{Japanese Embeddings}}: {{When Is It Worth It}}?},<br/>
  booktitle = {Proceedings of the {{Workshop}} on the {{Relevance}} of {{Linguistic Structure}} in {{Neural Architectures}} for {{NLP}}},<br/>
  publisher = {{Association for Computational Linguistics}},<br/>
  address = {Melbourne, Australia},<br/>
  url = {http://aclweb.org/anthology/W18-2905},<br/>
  year = {2018},<br/>
  pages = {28-37}<br/>
}
  </div>
</div>



    </div>

    <div class="col">

    <div class="body-content" style="width:100%;>
        <!--Body content-->
        ${template_hooks['page_header']()}
        <%block name="content">
        ${post.text()}
        </%block>
        <!--End of body content-->

        <footer id="footer">
            ${content_footer}
            ${template_hooks['page_footer']()}
        </footer>
    </div>

    </div>
  </div>





</div>

${base.late_load_js()}
    <!-- fancy dates -->
    <script>
    moment.locale("${momentjs_locales[lang]}");
    fancydates(${date_fanciness}, ${js_date_format});
    </script>
    <!-- end fancy dates -->
    <%block name="extra_js"></%block>
    <script>
    baguetteBox.run('div#content', {
        ignoreClass: 'islink',
        captions: function(element) {
            return element.getElementsByTagName('img')[0].alt;
    }});
    </script>
${body_end}
${template_hooks['body_end']()}
</body>
</html>
